// Colors
$color-light: hsl(0°, 0%, 100%);
$color-light-grey: hsl(210°, 22%, 96%);
$color-grey: hsl(212°, 23%, 69%);
$color-dark-grey: hsl(214°, 17%, 51%);
$color-violet: hsl(235°, 69%, 61%);
$color-violet-light: hsl(235°, 82%, 77%);
$color-dark-blue: hsl(219°, 29%, 14%);
$color-midnight: hsl(220°, 29%, 10%);

// Fonts
$primary-font: 'Kumbh Sans', sans-serif;

// Screen sizes
$screen-sm: 484px;
$screen-md: 768px;
$screen-lg: 980px;
$screen-xlg: 1024px;
